@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Pattaya&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #15133C;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #15133C;
}

body::-webkit-scrollbar-thumb
{
  background-color: #f35959;
  /* border: 2px solid #555555; */
}

body{
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Pattaya', sans-serif; */
  background-color: #EC994B;
}

.App {
  text-align: center;
}

.title{
  font-size:40px;
  padding:0px;
  margin:30px 0px 10px 70px;
  position: relative;
  display:inline;
  font-family: 'Comfortaa', cursive;
  
  float:left;
}

.log-in-sign-up{
  all:unset;
  font-size:20px;
  margin:25px 50px 25px 0px;
  float:right;
  border:1px solid white;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

.log-in-sign-up:hover{
  color: black;
  background-color: white;
}

.App-header {
  background-color: #15133C;
  width:100%;
  height: 13vh;
  position: fixed;
  top:0;
  color: white;
  z-index:2;
}

.videos-section{
  
  
}

.videos-container{
  width:93vw;
  margin:auto;
  margin-top:8rem;
  padding-bottom:50px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #ed1212 ;
  background-color: #F24C4C;
}

.row-1{
  /* border:1px solid black; */
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}
.link-1{
  text-decoration: none;
  color:black;
}

.row-2{
  /* border:1px solid black; */
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}


.row-3{
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}

.row-4{
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}

.row-5
{
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}


.row-6
{
  width:61%;
  height:45vh;
  margin:auto;
  
  position:relative;
  top:20px;
  right:240px;
  /* border:1px solid black; */
  padding:10px;
  
}

.card{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background-color: #fbd0d0;
  padding:10px;
  width:35%;
  height:43vh;
  margin:5px;
  border-radius:10px;
  z-index:1;
}

.card:hover{
  
  border:2px solid #282c34;
  cursor: pointer;
}

.card p {
 
  width:90%;
  margin:auto;
  margin-top:20px;
  
}

.p1{
  width:100%;
  margin:auto;
  position: relative;
  bottom:15px;
  
}

.img-1{
  width:85%;
  border-radius:10px;
  
}

.img-2{
  width:76%;
  
  border-radius:10px;
  
}

.footer{
  width:60%;
  margin:auto;
  margin-top:5vh;
  border-top:2px solid #ed1212;
  padding:20px;
  font-size:20px;
  z-index:1;
}

