

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik&display=swap');


.title-video{
    font-size:40px;
    padding:0px;
    margin:30px 0px 25px 70px;
    position: relative;
    display:inline;
    font-family: 'Comfortaa', cursive;
    float:left;
  }
  
  .log-in-sign-up-video{
    all:unset;
    font-size:20px;
    margin:25px 50px 25px 0px;
    float:right;
    border:1px solid white;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
  }
  
  .log-in-sign-up-video:hover{
    color: black;
    background-color: white;
  }
  
  .App-header-video{
    background-color: #15133C;
    font-family: 'Comfortaa', cursive;
    width:100%;
    height: 13vh;
    position: fixed;
    top:0;
    color: white;
    z-index:2;
  }

  .container{
      margin-top:13vh;
      font-size:30px;
      height:78vh;
      padding:20px;
  }

  .styledTable {
    border:5px solid black; 
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    
    margin-bottom: 20px;
    margin-left:20%;
    width:60vw;
    background-color: #f35959;
    
}


.styledTable thead td{
  text-align: center;
  padding:10px;
  border:5px solid black;
  border-radius: 2px;
  font-weight: 500;
}

.table-field{
  font-weight: 700;
}



  .player-area{
    /* border:1px solid black; */
    font-family: 'Rubik', sans-serif;
    background-color: #F24C4C;
    height:83vh;
    width:80vw;
    margin:auto;
    border-radius:10px;
    box-shadow: 5px 5px 4px #ed1212 ;
  }

  .player-title{
    margin:0px;
    margin:auto;
    position: relative;
    top:10px;
    text-align:center;
    /* border:1px solid black; */
    width:90%;
    padding:10px;
  }

  .main-player{
    background-color: #fbd0d0;
    width:95%;
    margin:auto;
    height:61vh;
    margin-top:0px;
    border-radius: 10px;
    margin-top:20px;
  }

  .main-player .Youtube{
    width:95%;
    height:57.5vh;
    margin:2.5% 2.5%;
    border-radius: 10px;
  }

  .react-player{
    margin:0px;
    border-radius: 10px;
  }

  .react-player video {
    border:5px solid black;
    border-radius:10px;
    margin-top:0px;
    
  }

.info-container{
  height:155vh;
}