.title-video{
    font-size:40px;
    padding:0px;
    margin:20px 0px 25px 70px;
    position: relative;
    display:inline;
    font-family: 'Pattaya', sans-serif;
    float:left;
  }
  
  .log-in-sign-up-video{
    all:unset;
    font-size:20px;
    margin:25px 50px 25px 0px;
    float:right;
    border:1px solid white;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
  }
  
  .log-in-sign-up-video:hover{
    color: black;
    background-color: white;
  }
  
  .App-header-video{
    background-color: #282c34;
    width:100%;
    height: 13vh;
    position: fixed;
    top:0;
    color: white;
    z-index:2;
  }

  .container{
      margin-top:13vh;
      font-size:30px;
      border:1px solid black;
      height:90vh;
      padding:20px;
  }

  .player-area{
    /* border:1px solid black; */
    background-color: #c5cbd3;
    height:80vh;
    width:80vw;
    margin:auto;
    border-radius:10px;
    box-shadow: 5px 5px 4px lightslategray ;
  }

  .player-title{
    margin:0px;
    margin:auto;
    position: relative;
    top:10px;
    text-align:center;
    /* border:1px solid black; */
    width:90%;
    padding:10px;
  }

  .main-player{
    background-color: #99a4b2;
    width:90%;
    margin:auto;
    height:65vh;
    margin-top:10px;
    border-radius: 10px;
  }

  .main-player .Youtube{
    width:95%;
    height:57.5vh;
    margin:2.5% 2.5%;
    border-radius: 10px;
  }