@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Pattaya&display=swap');

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #7d879b;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #7d879b;
}

body::-webkit-scrollbar-thumb
{
  background-color: #282c34;
  /* border: 2px solid #555555; */
}

body{
  font-family: 'Comfortaa', cursive;
  background-color: #e2e5e9;
}

.App {
  text-align: center;
}

.title{
  font-size:40px;
  padding:0px;
  margin:20px 0px 25px 70px;
  position: relative;
  display:inline;
  font-family: 'Pattaya', sans-serif;
  float:left;
}

.log-in-sign-up{
  all:unset;
  font-size:20px;
  margin:25px 50px 25px 0px;
  float:right;
  border:1px solid white;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

.log-in-sign-up:hover{
  color: black;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  width:100%;
  height: 13vh;
  position: fixed;
  top:0;
  color: white;
  z-index:2;
}

.videos-section{
  margin-top:13vh;
  height:95vh;
  margin-bottom:100px;
}

.videos-container{
  width:93vw;
  height:100vh;
  margin:auto;
  margin-top:8rem;
  border-radius: 10px;
  box-shadow: 5px 5px 4px lightslategray ;
  background-color: #c5cbd3;
}

.row-1{
  /* border:1px solid black; */
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}

.row-2{
  /* border:1px solid black; */
  width:95%;
  height:45vh;
  margin:auto;
  position:relative;
  top:20px;
  display:flex;
  padding:10px;
  justify-content: space-evenly;
}

.card{
  background-color: #99a4b2;
  width:19%;
  margin:5px;
  border-radius:10px;
  z-index:1;
}

.card:hover{
  border:2px solid #282c34;
  cursor: pointer;
}

.img-1{
  width:90%;
  border-radius:10px;
  
}

.img-2{
  width:90%;
  height:50%;
  border-radius:10px;
  
}

.footer{
  width:60%;
  margin:auto;
  border-top:2px solid #282c34;
  padding:20px;
  font-size:20px;
}

